In [1]:
import numpy as np
import pandas as pd
import seaborn as sb
import matplotlib.pyplot as plt

Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.
Intel MKL WARNING: Support of Intel(R) Streaming SIMD Extensions 4.2 (Intel(R) SSE4.2) enabled only processors has been deprecated. Intel oneAPI Math Kernel Library 2025.0 will require Intel(R) Advanced Vector Extensions (Intel(R) AVX) instructions.

In [2]:
dataset = pd.read_csv('dataset.csv')

In [3]:
dataset.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0

In [4]:
dataset.describe()

,YEAR,MONTH,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
count,307645.000000,307645.000000,307642.000000,307645.000000,307645.000000
mean,2018.438525,6.423862,7.024071,6.936465,25.294597
std,1.083061,3.461812,30.986238,30.237195,249.916798
min,2017.000000,1.000000,-6.490000,-38.490000,-7800.000000
25%,2017.000000,3.000000,0.000000,0.000000,0.000000
50%,2019.000000,7.000000,0.320000,0.000000,1.000000
75%,2019.000000,9.000000,3.267500,3.000000,5.000000
max,2020.000000,12.000000,2739.000000,1990.830000,18317.000000

In [5]:
years = dataset['YEAR'].unique()
print(years)

[2020 2017 2018 2019]

In [6]:
supplier = dataset['SUPPLIER'].unique()
print(supplier)

['REPUBLIC NATIONAL DISTRIBUTING CO' 'PWSWN INC' 'RELIABLE CHURCHILL LLLP'
 'LANTERNA DISTRIBUTORS INC' 'DIONYSOS IMPORTS INC'
 'KYSELA PERE ET FILS LTD' 'SANTA MARGHERITA USA INC'
 'BROWN-FORMAN BEVERAGES WORLDWIDE' 'JIM BEAM BRANDS CO'
 'INTERNATIONAL CELLARS LLC' 'HEAVEN HILL DISTILLERIES INC'
 'BACCHUS IMPORTERS LTD' 'MONSIEUR TOUTON SELECTION'
 'THE COUNTRY VINTNER, LLC DBA WINEBOW' 'ROYAL WINE CORP'
 'STE MICHELLE WINE ESTATES' 'Default' 'SAZERAC CO' 'SALVETO IMPORTS LLC'
 'HUB WINE CORPORATION' 'ALLAGASH BREWING COMPANY' 'CAMPARI AMERICA LLC'
 'PERNOD RICARD USA LLC' 'PRESTIGE BEVERAGE GROUP OF MD LLC'
 'BACARDI USA INC' 'YOUNG WON TRADING INC' 'TROEGS BREWING COMPANY'
 'CASTLE BRANDS USA CORP' 'LEGENDS LTD' 'WASHBURN WINE CO'
 'CELICAR LLC DBA TWIN VALLEY DISTILLERS' 'DOPS INC'
 'JACKSON FAMILY ENTERPRISES INC' 'BUCK DISTRIBUTING COMPANY INC'
 'PUNTO VINO LLC' 'VICTORY BREWING COMPANY LLC' 'THE WINE GROUP'
 'ELITE WINES IMPORTS' 'LUNEAU USA INC' 'BARON FRANCOIS LTD'
 'PROXIMO SPIRITS INC' 'SOUTHERN GLAZERS WINE AND SPIRITS'
 'DIAGEO NORTH AMERICA INC' 'OPICI FAMILY DISTRIBUTING OF MD'
 'MICHAEL R DOWNEY SELECTIONS INC' nan 'ATLAS BREW WORKS LLC'
 'FRONT PORCH MICRO WINERY LLC' 'TREASURY WINE ESTATES AMERICAS COMPANY'
 'TRADEWINDS SPECIALTY IMPORTS LLC' 'CONSTELLATION BRANDS'
 'SIERRA NEVADA BREWING CO' 'DUGGANS DISTILLERS PROD'
 'VINTAGE WINE ESTATES INC' 'SAGAMORE WHISKEY LLC' 'J LOHR WINERY'
 'LUXCO SPIRITED BRANDS' 'NEW PARROTT & CO'
 'CRAFT WINE & SPIRITS OF MARYLAND LLC' 'MHW LTD'
 'WILLIAM GRANT AND SONS INC' 'INTERBALT PRODUCTS CORP'
 'ARTISANS & VINES LLC' 'BRONCO WINE COMPANY' 'TI BEVERAGE GROUP LTD'
 'DELMAR BREWING COMPANY LLC' 'UNITED STATES DISTILLED PRODUCTS'
 'RIGHT FORWARD LLC' 'A I G WINE & SPIRITS' 'GRAPES OF SPAIN INC'
 'DEUTSCH FAMILY WINE & SPIRITS' 'MARK ANTHONY BRANDS INC'
 'SUTTER HOME WINERY INC' 'DUVEL MOORTGAT USA LTD' 'BACKUP BEVERAGE'
 'NORTH LOCK LLC DBA PORT CITY BREWING CO' 'PATERNO IMPORTS LTD'
 'BANFI PRODUCTS CORP' 'HEINEKEN USA' 'CONSTANTINE WINES INC'
 'JOS VICTORI WINES' 'STOLI GROUP (USA) LLC' 'E & J GALLO WINERY'
 'DUCKHORN WINE COMPANY' 'TRI-VIN IMPORTS' 'PIPE CREEK WINES LLC'
 'TREFETHEN VINEYARDS' 'BOSTON BEER CORPORATION' 'DON SEBASTIANI & SONS'
 'VIGNOBLES LVDH USA INC' 'TRICANA SHIPPERS & IMPORT'
 'LAPHAM SALES & MARKETING DBA LAPHAM' 'SCHUG CARNEROS ESTATE WINERY'
 'PARK STREET IMPORTS LLC' 'AREL GROUP WINE & SPIRITS'
 'MILLER BREWING COMPANY' 'KOBRAND CORPORATION'
 'EASTERN LIQUOR DISTRIBUTORS INC' 'THE EDRINGTON GROUP USA LLC'
 'FRANCIS COPPOLA WINERY LLC' 'SURVILLE ENTERPRISES CORP'
 'SERRALLES USA LLC' 'DELICATO FAMILY VINEYARDS' 'REMY COINTREAU USA'
 'CHASSEUR WINE LLC' 'AMERICAN BEVERAGE CORPORATION' 'MOET HENNESSY USA'
 'KATCEF BROTHERS INC' 'FIVE GRAPES LLC' 'PRECEPT BRANDS LLC'
 'DMV DISTRIBUTING LLC' 'FETZER VINEYARDS' 'TESTA WINES OF THE WORLD LTD'
 'THE HESS COLLECTION' 'AMERICAN BEVERAGE MARKETERS' 'TAPWINES'
 'HONIG VINEYARD AND WINERY' 'PREMIUM DISTRIBUTORS INC'
 'JACK POUST & COMPANY INC' 'MONTEBELLO BRANDS INC'
 'SIDNEY-FRANK IMPORTING CO' 'OREGON BREWING COMPANY'
 'NARRAGANSETT BREWING COMPANY' 'ANHEUSER BUSCH INC'
 'NEW BELGIUM BREWING INC' 'CROWN IMPORTS' 'PABST BREWING CO'
 'ST SUPERY INC' 'THE BROOKLYN BREWERY CORPORATION'
 'LABATT USA OPERATING CO LLC' 'GLOBAL OCEAN AND AIR CARGO SERVICES'
 'BANVILLE & JONES WINE MERCHANTS' 'FLYING DOG BREWERY LLLP'
 'MASS BAY BREWING CO' 'C MONDAVI & SONS'
 'CANTINIERE IMPORTS & DISTRIBUTING INC' 'FOWLES WINE USA INC'
 'FREIXENET MIONETTO USA INC' 'NICKOLAS IMPORTS LLC'
 'DANGEROUS WINE GROUP LLC' 'MACK & SCHUHLE INC' 'NICHE IMPORTERS'
 'FREE RUN WINE MERCHANTS LLC' 'QUINTESSENTIAL LLC'
 'GROTH VINEYARDS & WINERY' 'TAP26MD LLC' 'SMT AQUISITIONS LLC'
 'ATLANTIC WINE & SPIRITS' 'FREIXENET USA' 'CARROLL CREEK WHISKEY LLC'
 'FERRARI CARANO WINERY' 'ALLIED IMPORTERS USA LTD' 'FN CELLARS LLC'
 'YUENGLING BREWERY' 'THE SPANISH WINE IMPORTERS LLC' 'GAMBRINUS'
 'EVEREST SPIRITS LLC' 'TENTH HARVEST LLC' 'SOVEREIGN BRANDS LLC'
 'MADIDUS LLC' 'MCNEILL INDEPENDENT SPIRIT CREATORS LLC' 'RVWC LLC'
 'THE RIVER WINE' 'HOME BREW MART INC' 'ST KILLIAN IMPORTING CO INC'
 'COASTAL BREWING COMPANY LLC' 'CLIPPER CITY BREWING CO'
 'VERMONT HARD CIDER COMPANY LLC' 'DC BRAU BREWING LLC'
 'SPAINS BEST BEERS INC' 'BBL INC' 'BINDING BRAUEREI USA INC'
 'TERRAPIN BEER COMPANY' 'BOLD ROCK PARTNERS LP' 'STEFANO INCORPORATED'
 'WAGNER WINE COMPANY LLC' 'IMPERO WINE DISTRIBUTORS VIRGINIA INC'
 'CHARLES JACQUIN ET CIE INC' 'WINE BRIDGE IMPORTS INC' 'ZURENA LLC'
 'SAN ANTONIO WINERY INC' 'GOOSE RIDGE LLC' 'SOKOL BLOSSER LTD'
 "O'NEILL BEVERAGES CO LLC" 'SCHMITT SOHNE INC'
 'GEORGIAN HOUSE OF GREATER WASHINGTON' 'MEXCOR INTERNATIONAL'
 'THE SANDY BOTTOM ENTERPRISES LLC' 'E M D SALES INC'
 'CABERNET CORPORATION' 'FOLEY FAMILY WINES INC'
 'PLUME RIDGE IRREVOCABLE TRUST' 'OSLO ENTERPRISE'
 'THE TRITON COLLECTION INC' 'SWEETWATER BREWING COMPANY LLC'
 'PHILLIPS FARMS LLC' 'ELK RUN VINEYARDS' 'LCF WINE COMPANY LLC'
 'ROBERT OATLEY VINEYARDS INC' 'TREANA WINERY LLC' 'VINTAGE POINT LLC'
 'AIKO IMPORTERS INC' 'WELL OILED WINE COMPANY LLC'
 'FILIBUSTER BARRELS LLC' 'POTOMAC SELECTIONS INC' 'RED INK IMPORTS'
 'MAST-JAEGERMEISTER US INC' 'VINTURE WINE COMPANY LLC'
 'SCOPERTA IMPORTING COMPANY INC' 'PARAGON VINEYARD CO INC'
 'KLEIN FAMILY VINTNERS' 'ROOTS RUN DEEP LLC' 'WI INC'
 'WILLIAM HARRISON IMPORTS' 'FLAVOR SEEKERS LLC' 'FIFTH GENERATION INC'
 'RUSSIAN STANDARD VODKA (USA) INC' 'COPPER CANE LLC'
 'STELLAR IMPORTING CO LLC' 'LEGACY PARTNERS DISTRIBUTION LLC'
 'REPUBLIC RESTORATIVES' 'SPLINTER GROUP NAPA LLC'
 'FREDERICK WILDMAN & SONS' 'THREE STARS BREWING COMPANY LLC'
 'PRESTIGE WINE IMPORTS' 'AZABU DISTILLING CO LLC'
 'IMPERO WINE DISTRIBUTORS' 'VINTUS LLC' 'AMERICAN FIDELITY TRADING'
 'HOTALING & CO LLC' 'PALM BAY IMPORTS' 'BASQUE BAR LLC'
 'COMETE WINES LLC' 'SANGLIER SELECTIONS LLC'
 'GF WINES, LLC DBA GARY FARRELL WINERY' 'MACCHU PISCO LLC'
 'INFINIUM SPIRITS INC' 'VIN DIVINO LTD' 'FAR NIENTE WINERY INC'
 'JORDAN VINEYARD' 'ST RICE WINE INC' 'DISARONNO INTERNATIONAL LLC'
 'ADAMBA IMPORTS INTL' 'SUGARLOAF MOUNTAIN SUNLIGHT VINEYARD LLC'
 'LAIRD AND COMPANY' 'RUTHERFORD WINE COMPANY' 'NOVELTY MD INC'
 'WARSTEINER IMPORTERS' 'SLIGO MILL BREWING LLC' 'HOUTON PURVEYORS LLC'
 'OHMRONE WINE AND LIQUOR LLC' 'MOUNT DEFIANCE CIDERY & DISTILLERY LLC'
 'NEGUS BREWING COMPANY LLC' 'NEXTERRA WINE COMPANY'
 'CITIZENS BREWING LLC' 'WESTERN SPIRITS BEVERAGE COMPANY LLC'
 'LYON DISTILLING COMPANY LLC' 'BULLSHINE DISTILLERY LLC'
 'DRAGON DISTILLERY LLC' 'OCEAN CITY BREWING CO LLC' 'LION NATHAN USA INC'
 'KAHN PAPER COMPANY INC' 'CHEVAL QUANCARD' 'FRUIT OF THE VINES INC'
 'SUGARLOAF MOUNTAIN VINEYARD LLC' 'KING ESTATE WINERY'
 'ASAHI BEER USA INC' 'SINGHA NORTH AMERICA INC' 'HAMCO DC'
 'BROOKEVILLE BREWING LLC' 'MESOZOIC TECHNOLOGIES LLC' 'BITTERMILK LLC'
 'HARVEST IMPORTING LLC' 'REGAL WINE IMPORTS INC' 'THE WINE SOURCE INC'
 'WINERY EXCHANGE INC' 'Z WINE GALLERY IMPORTS LLC' 'SAWM IMPORTS LLC'
 'ST GEORGE SPIRITS INC' 'WILLIAMS CORNER WINE' 'LOOK VODKA LLC'
 'BREWDOG BREWING COMPANY LLC' 'TRUE RESPITE BREWING COMPANY LLC'
 'CROOK & MARKER LLC' 'VINIFERA DISTRIBUTING OF MARYLAND INC'
 'MARQUEE SELECTIONS LLC' 'SMITH-ANDERSON ENTERPRISES INC'
 'PARALLEL WORLD BREWING COMPANY' 'A VINTNERS SELECTIONS'
 'DUCLAW BREWERY LLC' 'AMERICAN VINTAGE BEVERAGE INC'
 'GRAPES & BARLEY LLC' 'SOUTHERN WINE & SPIRITS OF MARYLAND'
 'CALVERT BREWING COMPANY' 'STARR HILL BREWERY LLC'
 'GRAIL POINT BREWERY LLC' 'DOMAINE SELECT WINE & SPIRITS LLC'
 'DOGFISH HEAD CRAFT BREWERY' 'WILSON DANIELS LTD'
 'BOUTIQUE VINEYARDS LLC' 'ROBERT KACHER SELECTIONS LLC'
 'EXCELSIOR WINE COMPANY LLC' 'FREDERICK P WINNER LTD'
 'BOND DISTRIBUTING CO' 'ARCHER ROOSE LLC' 'AZIZ SHAFI TANNIC TONGUE'
 'MONOCACY BREWING CO LLC' 'BASIGNANI WINERY' 'FX MATT BREWING CO'
 'CRAFT BREW ALLIANCE INC' 'BOORDY VINEYARDS' 'SIMON N CELLARS LLC'
 'VINTAGE WINES INC' 'ONE TRUE VINE' 'FIORE WINERY'
 'SPADA ENTERPRISES INC' 'USA WINE WEST LLC' 'A&W BORDERS LLC' 'OENOS LLC'
 'CAPE STARZ WINE LLC' 'A&E INC' 'LATITUDE BEVERAGE COMPANY'
 'USA WINE IMPORTS' 'THREE HENS LLC T/A TENTH HARVEST'
 'JOHN GIVEN WINES INC' 'BARREL ONE INC' 'SCHEID VINEYARDS CALIFORNIA INC'
 'NOBLE VINTNERS INC' 'FRANK LIN MD' '8 VINI INC'
 'INTERNATIONAL SPIRITS & WINES LLC'
 'CLASSIC WINE IMPORTS INC DBA VISION WINE' 'FRITZ IMPORTS LLC'
 'PLATA WINE PARTNERS LLC' 'DOGFISH HEAD DISTILLERY LLC'
 'WETTEN IMPORTERS INC' 'THE VINERY LLC' 'BORVIN BEVERAGE'
 'VOLUBILIS IMPORTS INC' 'WEIN-BAUER INC' 'A HARDY USA LTD'
 'AW DIRECT LLC' 'ROBERT GIRAUD' 'DESCHUTES BREWERY INC'
 'ALTITUDE SPIRITS INC' 'CLASSIC WINE IMPORTS INC'
 'SUBARASHII KUDAMONO CO INC' 'GRAND ENCLOS DU CHATEAU DE CERONS'
 'CHEF SOUS LLC' "GATOR RON'S LLC" 'PREMIUM DISTRIBUTORS OF MARYLAND'
 'UNITED STATES BEVERAGE' 'URUGUAY IMPORTS LTD' 'WINEBOW INC'
 'RAPP CAPITAL LLC' 'CHATEAU DIANA LLC' 'G GAUTHIER CELLARS INC'
 'FREELANCE WINES LLC' 'MERRYVALE VINEYARDS'
 "D'AQUINO ITALIAN IMPORTING CO INC" 'MONDO VINO' 'ORGANIC VINTNERS INC'
 'ARIS A ZISSIS' 'WHITE ROCK DISTILLERS INC' 'LINNE CALODO INC'
 'LA ISLA CORPORATION' 'FAROPIAN SPIRITS LTD' 'MAISON JOMERE LTD'
 'RED MOUNTAIN DISTILLING & SPIRITS LLC' 'PACIFIC RIM WINEMAKERS'
 'ROBERT OATLEY' 'SABLE RIDGE VINEYARD LLC'
 'HEIMBUCH ESTATE VINEYARDS AND WINERY LLC' 'NICE LEGS LLC'
 'CHADDSFORD WINERY LTD' 'VINTAGE VIRGINIA APPLES' 'DREYFUS ASHBY INC'
 'MEIOMI' 'PAMPA BEVERAGES LLC DBA TRANSNATIONAL SU' 'DCD ENTERPRISES LLC'
 'CASA CHIRICO LLC' 'BLACK ANKLE VINEYARDS LLC'
 'DOGFISH HEAD CRAFT BREWERY LLC' 'NIEBAUM COPPOLA ESTATE WINERY LP'
 'DISTRICT CIDER COMPANY INC' 'ONE EIGHT DISTILLING LLC'
 'RED MOUNTAIN DISTILLING AND SPIRITS LLC' 'CHARM CITY BEVERAGE LLC'
 'CHEERS DISTRIBUTING INC' 'THE DOG BEVERAGE CO INC' 'MARKERS EDGE LLC'
 'FIOR DI SOLE LLC' 'RSL HOLDINGS INC' 'SNR HOLDINGS LLC' 'GJS SALES INC'
 'TOBACCO BARN DISTILLERY' 'WITH MALUS AFORETHOUGHT LLC']

In [70]:
year_month_counts = df.groupby(['YEAR','MONTH']).size().reset_index(name='Count').sort_values(by=['YEAR', 'MONTH'])
year_month_counts

    YEAR  MONTH  Count
0   2017      6  13628
1   2017      7  13022
2   2017      8  13590
3   2017      9  13386
4   2017     10  13626
5   2017     11  14532
6   2017     12  14500
7   2018      1  13345
8   2018      2  13100
9   2020      1  11987
10  2020      3  11523
11  2020      7  11190
12  2020      9  11578
13  2024      1  12392
14  2024      2  12289
15  2024      3  12683
16  2024      4  12734
17  2024      5  12948
18  2024      6  12330
19  2024      7  12498
20  2024      8  12413
21  2024      9  12416
22  2024     10  13086
23  2024     11  12849

### 2017 = 6,7,8,9,10,11,12 
### 2018 = 1,2
### 2019 = 1,2,3,4,5,6,7,8,9
### 2020 = 1,3,7,9

In [8]:
unique_item_count = dataset['ITEM CODE'].nunique()
print(unique_item_count)

34056

In [9]:
unique_item_desc_count = dataset['ITEM DESCRIPTION'].nunique()
print(unique_item_desc_count)

34822

In [10]:
# Group by ITEM CODE and count unique descriptions for each code
code_description_counts = dataset.groupby('ITEM CODE')['ITEM DESCRIPTION'].nunique()

# Filter to find ITEM CODEs with more than one unique description
multiple_descriptions = code_description_counts[code_description_counts > 1]
print("ITEM CODEs with multiple descriptions:\n", multiple_descriptions)

ITEM CODEs with multiple descriptions:
 ITEM CODE
1001      2
101664    2
10356     2
10431     2
10444     2
         ..
99643     2
99706     2
99727     2
99988     2
99990     2
Name: ITEM DESCRIPTION, Length: 1001, dtype: int64

In [11]:
# Group by ITEM DESCRIPTION and count unique codes for each description
description_code_counts = dataset.groupby('ITEM DESCRIPTION')['ITEM CODE'].nunique()

# Filter to find ITEM DESCRIPTIONS with more than one unique code
multiple_codes = description_code_counts[description_code_counts > 1]
print("ITEM DESCRIPTIONS with multiple codes:\n", multiple_codes)

ITEM DESCRIPTIONS with multiple codes:
 ITEM DESCRIPTION
99 SCHNAPPS VARIETY 4PK/50ML                     2
A RAFANELLI DRY CREEK VALLEY CABERNET - 750ML    2
A TO Z WILLAMETTE P/GRIS - 750ML                 2
ABADAL CAB FRANC TEMPRANILLO - 750ML             2
AGUA DE PIEDRA RES MAL - 750ML                   2
                                                ..
YALUMBA ORGANIC VIOG - 750ML                     2
YALUMBA Y SERIES VIOG - 750ML                    2
YARDEN GALILEE CHARD - 750ML                     2
ZACO TEMP - 750ML                                2
ZE BECCO MARCHE ROSSO PICENO - 750ML             2
Name: ITEM CODE, Length: 315, dtype: int64

In [67]:
df.replace(2019,2024,inplace=True)

In [68]:
df[df['YEAR']==2024].describe()

,YEAR,MONTH,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
count,138638.0,138638.000000,138638.000000,138638.000000,138638.000000
mean,2024.0,6.025823,6.925888,6.906926,25.558478
std,0.0,3.165113,30.781417,30.142878,249.045532
min,2024.0,1.000000,-1.170000,-23.000000,-7800.000000
25%,2024.0,3.000000,0.000000,0.000000,0.000000
50%,2024.0,6.000000,0.240000,0.000000,1.000000
75%,2024.0,9.000000,2.890000,3.000000,6.000000
max,2024.0,11.000000,1752.450000,1470.170000,17810.870000

In [12]:
# Step 1: Check the column names to ensure they match exactly
print("Column names:", dataset.columns)

# Step 2: Filter for ITEM CODE 1001 and print unique descriptions
item_code_1001_descriptions = dataset[dataset['ITEM CODE'] == '1001']['ITEM DESCRIPTION'].unique()

# Step 3: Display the results clearly
if item_code_1001_descriptions.size > 0:
    print("Descriptions for ITEM CODE 1001:", item_code_1001_descriptions)
else:
    print("No descriptions found for ITEM CODE 1001.")

Column names: Index(['YEAR', 'MONTH', 'SUPPLIER', 'ITEM CODE', 'ITEM DESCRIPTION',
       'ITEM TYPE', 'RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES'],
      dtype='object')
Descriptions for ITEM CODE 1001: ['S SMITH ORGANIC PEAR CIDER - 18.7OZ'
 'SAM SMITH ORGANIC PEAR CIDER - 18.7OZ']

In [13]:
# Step 2: Filter for ITEM CODE 101664 and print unique descriptions
item_code_101664_descriptions = dataset[dataset['ITEM CODE'] == '101664']['ITEM DESCRIPTION'].unique()

# Step 3: Display the results clearly
if item_code_101664_descriptions.size > 0:
    print("Descriptions for ITEM CODE 101664:", item_code_101664_descriptions)
else:
    print("No descriptions found for ITEM CODE 101664.")

Descriptions for ITEM CODE 101664: ['RAMON CORDOVA RIOJA - 750ML' 'RAMON CARDOVA RIOJA - 750ML']

In [14]:
# Step 2: Filter for ITEM CODE 10356 and print unique descriptions
item_code_10356_descriptions = dataset[dataset['ITEM CODE'] == '10356']['ITEM DESCRIPTION'].unique()

# Step 3: Display the results clearly
if item_code_10356_descriptions.size > 0:
    print("Descriptions for ITEM CODE 10356:", item_code_10356_descriptions)
else:
    print("No descriptions found for ITEM CODE 10356.")

Descriptions for ITEM CODE 10356: ['TROEGS NUGGET NECTAR 4/6 CANS' 'TROEGS NUGGET NECTAR - 4/6 12OZ CAN']

In [15]:
df = pd.read_csv('dataset.csv')
df.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0

In [16]:
pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in /Users/keziaersan/opt/anaconda3/lib/python3.9/site-packages (0.18.0)

[notice] A new release of pip is available: 23.2.1 -> 25.0.1
[notice] To update, run: pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [17]:
from fuzzywuzzy import fuzz

def standardize_descriptions(df):
    for item_code, group in df.groupby('ITEM CODE'):
        descriptions = group['ITEM DESCRIPTION'].tolist()
        
        # Find similar descriptions using fuzzy matching
        for i in range(len(descriptions)):
            for j in range(i+1, len(descriptions)):
                similarity = fuzz.ratio(descriptions[i], descriptions[j])
                if similarity > 90:  # Adjust threshold as needed
                    # Choose the most common or the first description
                    most_common = max(set(descriptions), key=descriptions.count)
                    descriptions[i] = most_common
                    descriptions[j] = most_common

        # Update the DataFrame
        df.loc[group.index, 'ITEM DESCRIPTION'] = descriptions

    return df

/Users/keziaersan/opt/anaconda3/lib/python3.9/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [18]:
df.head()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2020,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.00,0.0,2.0
1,2020,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,1.0,4.0
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
3,2020,1,LANTERNA DISTRIBUTORS INC,100145,SCHLINK HAUS KABINETT - 750ML,WINE,0.00,0.0,1.0
4,2020,1,DIONYSOS IMPORTS INC,100293,SANTORINI GAVALA WHITE - 750ML,WINE,0.82,0.0,0.0

In [19]:
unique_item_count = dataset['ITEM CODE'].nunique()
print(unique_item_count)

34056

In [20]:
unique_item_desc_count = dataset['ITEM DESCRIPTION'].nunique()
print(unique_item_desc_count)

34822

In [21]:
df['ITEM DESCRIPTION'] = df.groupby('ITEM CODE')['ITEM DESCRIPTION'].transform(lambda x: x.iloc[0])

In [22]:
item_code_1001_descriptions = df[df['ITEM CODE'] == '101664']['ITEM DESCRIPTION'].unique()

# Step 3: Display the results clearly
if item_code_1001_descriptions.size > 0:
    print("Descriptions for ITEM CODE 1001:", item_code_1001_descriptions)
else:
    print("No descriptions found for ITEM CODE 1001.")

Descriptions for ITEM CODE 1001: ['RAMON CORDOVA RIOJA - 750ML']

In [23]:
unique_item_desc_count = df['ITEM DESCRIPTION'].nunique()
print(unique_item_desc_count)

33754

In [24]:
unique_item_count = df['ITEM CODE'].nunique()
print(unique_item_count)

34056

In [25]:
# Step 2: Filter for ITEM CODE 101664 and print unique descriptions
item_code_101664_descriptions = df[df['ITEM CODE'] == '101664']['ITEM DESCRIPTION'].unique()

# Step 3: Display the results clearly
if item_code_101664_descriptions.size > 0:
    print("Descriptions for ITEM CODE 101664:", item_code_101664_descriptions)
else:
    print("No descriptions found for ITEM CODE 101664.")

Descriptions for ITEM CODE 101664: ['RAMON CORDOVA RIOJA - 750ML']

In [26]:
df[df['ITEM CODE'] == '348532']['ITEM DESCRIPTION']

5509      99 SCHNAPPS VARIETY 4PK/50ML
17212     99 SCHNAPPS VARIETY 4PK/50ML
28551     99 SCHNAPPS VARIETY 4PK/50ML
226460    99 SCHNAPPS VARIETY 4PK/50ML
251297    99 SCHNAPPS VARIETY 4PK/50ML
263682    99 SCHNAPPS VARIETY 4PK/50ML
276346    99 SCHNAPPS VARIETY 4PK/50ML
289397    99 SCHNAPPS VARIETY 4PK/50ML
301809    99 SCHNAPPS VARIETY 4PK/50ML
Name: ITEM DESCRIPTION, dtype: object

In [27]:
df[df['ITEM CODE'] == '348426']['ITEM DESCRIPTION']

163609    99 SCHNAPPS VARIETY 4PK/50ML
175886    99 SCHNAPPS VARIETY 4PK/50ML
188372    99 SCHNAPPS VARIETY 4PK/50ML
201064    99 SCHNAPPS VARIETY 4PK/50ML
213967    99 SCHNAPPS VARIETY 4PK/50ML
226426    99 SCHNAPPS VARIETY 4PK/50ML
238795    99 SCHNAPPS VARIETY 4PK/50ML
251269    99 SCHNAPPS VARIETY 4PK/50ML
Name: ITEM DESCRIPTION, dtype: object

In [28]:
item_1001_code = df[df['ITEM DESCRIPTION'] == 'A RAFANELLI DRY CREEK VALLEY CABERNET - 750ML']['ITEM CODE'].unique()

# Step 3: Display the results clearly
if item_1001_code.size > 0:
    print("Codes for description 'A RAFANELLI DRY CREEK VALLEY CABERNET - 750MLL' :", item_1001_code)
else:
    print("No descriptions found for ITEM CODE 1001.")

Codes for description 'A RAFANELLI DRY CREEK VALLEY CABERNET - 750MLL' : ['355530' '352250']

In [29]:
df[df['ITEM CODE'] == '355530']['ITEM DESCRIPTION']

29209    A RAFANELLI DRY CREEK VALLEY CABERNET - 750ML
Name: ITEM DESCRIPTION, dtype: object

In [30]:
df[df['ITEM CODE'] == '352250']['ITEM DESCRIPTION']

201543    A RAFANELLI DRY CREEK VALLEY CABERNET - 750ML
214452    A RAFANELLI DRY CREEK VALLEY CABERNET - 750ML
289817    A RAFANELLI DRY CREEK VALLEY CABERNET - 750ML
Name: ITEM DESCRIPTION, dtype: object

In [31]:
df['ITEM CODE'] = df.groupby('ITEM DESCRIPTION')['ITEM CODE'].transform(lambda x: x.iloc[0])

In [32]:
unique_item_count = df['ITEM CODE'].nunique()
print(unique_item_count)

33754

In [33]:
unique_item_desc_count = df['ITEM DESCRIPTION'].nunique()
print(unique_item_desc_count)

33754

### item code & item description tallied!!

In [34]:
unique_item_type = df['ITEM TYPE'].unique()
print(unique_item_type)

['WINE' 'BEER' 'LIQUOR' 'STR_SUPPLIES' 'KEGS' 'REF' 'DUNNAGE'
 'NON-ALCOHOL' nan]

In [35]:
multiple_item_types = df.groupby('ITEM CODE')['ITEM TYPE'].nunique() > 1
multiple_item_types

ITEM CODE
100002    False
100007    False
100008    False
100009    False
100011    False
          ...
99970     False
99988     False
99990     False
BC        False
WC        False
Name: ITEM TYPE, Length: 33754, dtype: bool

In [36]:
df[df['ITEM CODE'] == '1001']

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
2,2020,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
11990,2020,7,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,3.0
17487,2020,3,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
61542,2017,8,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
75133,2017,12,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
75154,2017,9,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,2.0
88540,2017,10,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
102169,2017,11,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
131178,2018,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
144521,2018,2,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,2.0
157625,2019,1,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,2.0
170016,2019,2,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,4.0
182306,2019,3,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
194991,2019,4,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
207723,2019,5,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.25,1.0,1.0
220669,2019,6,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.24,0.0,3.0
233000,2019,7,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.24,0.0,6.0
245498,2019,8,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.08,0.0,1.0
257911,2019,9,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.16,0.0,3.0
270328,2019,10,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,3.0
283414,2019,11,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,1.0
296504,2020,9,RELIABLE CHURCHILL LLLP,1001,S SMITH ORGANIC PEAR CIDER - 18.7OZ,BEER,0.00,0.0,2.0

In [37]:
df.dtypes

YEAR                  int64
MONTH                 int64
SUPPLIER             object
ITEM CODE            object
ITEM DESCRIPTION     object
ITEM TYPE            object
RETAIL SALES        float64
RETAIL TRANSFERS    float64
WAREHOUSE SALES     float64
dtype: object

In [38]:
# Summary statistics 
print(df['RETAIL SALES'].describe())

print(df['RETAIL TRANSFERS'].describe())

print(df['WAREHOUSE SALES'].describe())

count    307642.000000
mean          7.024071
std          30.986238
min          -6.490000
25%           0.000000
50%           0.320000
75%           3.267500
max        2739.000000
Name: RETAIL SALES, dtype: float64
count    307645.000000
mean          6.936465
std          30.237195
min         -38.490000
25%           0.000000
50%           0.000000
75%           3.000000
max        1990.830000
Name: RETAIL TRANSFERS, dtype: float64
count    307645.000000
mean         25.294597
std         249.916798
min       -7800.000000
25%           0.000000
50%           1.000000
75%           5.000000
max       18317.000000
Name: WAREHOUSE SALES, dtype: float64

In [39]:
# Correlation check
print(df[['RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES']].corr())

                  RETAIL SALES  RETAIL TRANSFERS  WAREHOUSE SALES
RETAIL SALES          1.000000          0.960054         0.490472
RETAIL TRANSFERS      0.960054          1.000000         0.492093
WAREHOUSE SALES       0.490472          0.492093         1.000000

In [40]:
# Find and inspect rows with negative values in any of the three columns
negative_values = df[(df['RETAIL SALES'] < 0) | (df['RETAIL TRANSFERS'] < 0) | (df['WAREHOUSE SALES'] < 0)]
negative_values

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
405,2020,1,NaN,1279,EMPTY WINE KEG - KEGS,DUNNAGE,0.00,0.0,-12.0
822,2020,1,PREMIUM DISTRIBUTORS INC,175,EMPTY 1/2 KEG (30.00),DUNNAGE,0.00,0.0,-3999.0
1011,2020,1,ANHEUSER BUSCH INC,205,EMPTY 1/6 KEG (30.00),DUNNAGE,0.00,0.0,-934.0
1552,2020,1,FIVE GRAPES LLC,236502,J DE TELMONT SANS SOUFRE AJOUTE BRUT CHAMP - 7...,WINE,0.00,0.0,-1.0
2144,2020,1,LEGENDS LTD,25049,ERDINGER HEFE WEISSE 50L 1/2K,KEGS,0.00,0.0,-1.0
...,...,...,...,...,...,...,...,...,...
304355,2020,9,YUENGLING BREWERY,51148,YUENGLING HERSHEY'S CHOCOLATE PORTER 1/2K,KEGS,0.00,0.0,-1.0
304516,2020,9,JIM BEAM BRANDS CO,57398,LAPHROAIG QUARTER CASK - 750ML,LIQUOR,-0.17,0.0,0.0
304715,2020,9,DELMAR BREWING COMPANY LLC,62550,EVOLUTION BRUTALE IPA 1/2 KEG,KEGS,0.00,0.0,-1.0
305181,2020,9,ANHEUSER BUSCH INC,68742,KONA ISLAND COLADA CREAM 1/6 KEG,KEGS,0.00,0.0,-1.0
307604,2020,9,NaN,WC,WINE CREDIT,REF,0.00,0.0,-70.0

In [41]:
# Display a sample of rows with negative values
negative_values_sample = df[(df['RETAIL SALES'] < 0) | (df['RETAIL TRANSFERS'] < 0) | (df['WAREHOUSE SALES'] < 0)]
negative_values_sample.head(10)

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
405,2020,1,NaN,1279,EMPTY WINE KEG - KEGS,DUNNAGE,0.00,0.0,-12.0
822,2020,1,PREMIUM DISTRIBUTORS INC,175,EMPTY 1/2 KEG (30.00),DUNNAGE,0.00,0.0,-3999.0
1011,2020,1,ANHEUSER BUSCH INC,205,EMPTY 1/6 KEG (30.00),DUNNAGE,0.00,0.0,-934.0
1552,2020,1,FIVE GRAPES LLC,236502,J DE TELMONT SANS SOUFRE AJOUTE BRUT CHAMP - 7...,WINE,0.00,0.0,-1.0
2144,2020,1,LEGENDS LTD,25049,ERDINGER HEFE WEISSE 50L 1/2K,KEGS,0.00,0.0,-1.0
2215,2020,1,NORTH LOCK LLC DBA PORT CITY BREWING CO,25738,PORT CITY MONUMENTAL IPA 4/6 12 OZ,BEER,3.25,-1.0,17.0
2305,2020,1,MILLER BREWING COMPANY,26350,LEINENKUGEL SNOW DRIFT VANILLA PRTR 1/2 KG,KEGS,0.00,0.0,-1.0
2310,2020,1,ANHEUSER BUSCH INC,264,EMPTY 1/4 KEG (30.00),DUNNAGE,0.00,0.0,-287.0
2673,2020,1,LEGENDS LTD,30006,SCHNEIDER AVENTINUS 12 - 20/16,BEER,0.00,0.0,-1.0
2929,2020,1,RVWC LLC,305612,ELIO PERRONE MOSCATO D'ASTI SOURGAL - 375ML,WINE,0.00,0.0,-1.0

In [42]:
missing_summary = df.groupby(['YEAR', 'MONTH'])[['RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES']].count()

print(missing_summary)

            RETAIL SALES  RETAIL TRANSFERS  WAREHOUSE SALES
YEAR MONTH
2017 6             13628             13628            13628
     7             13022             13022            13022
     8             13590             13590            13590
     9             13386             13386            13386
     10            13626             13626            13626
     11            14532             14532            14532
     12            14500             14500            14500
2018 1             13345             13345            13345
     2             13100             13100            13100
2019 1             12392             12392            12392
     2             12289             12289            12289
     3             12683             12683            12683
     4             12734             12734            12734
     5             12948             12948            12948
     6             12330             12330            12330
     7             12498             12498            12498
     8             12413             12413            12413
     9             12416             12416            12416
     10            13086             13086            13086
     11            12849             12849            12849
2020 1             11987             11987            11987
     3             11523             11523            11523
     7             11189             11190            11190
     9             11576             11578            11578

In [43]:
df_2019 = df[(df['YEAR'] ==2019)]
df_2019

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
157619,2019,1,YOUNG WON TRADING INC,10346,KLOUD - 330/24 NR,BEER,3.75,11.0,12.0
157620,2019,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.08,0.0,0.0
157621,2019,1,INTERBALT PRODUCTS CORP,100012,PAPI P/GRIG - 750ML,WINE,0.00,0.0,1.0
157622,2019,1,PWSWN INC,100023,CH PARADIS-TERRE DES ANGES ROSE,WINE,0.00,0.0,1.0
157623,2019,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,0.0,2.0
...,...,...,...,...,...,...,...,...,...
296252,2019,11,NaN,BC,BEER CREDIT,REF,0.00,0.0,-123.0
296253,2019,11,NaN,WC,WINE CREDIT,REF,0.00,0.0,-275.0
296254,2019,11,JACK POUST & COMPANY INC,82630,LES TOURS CHARD - 750ML,WINE,0.32,0.0,0.0
296255,2019,11,E & J GALLO WINERY,83431,APOTHIC CAL ROSE - 750ML,WINE,13.13,14.0,13.0
296256,2019,11,E & J GALLO WINERY,84012,LAS ROCAS GARANCHA VINEAS VIEJAS 6/C - 750ML,WINE,8.12,5.0,2.0

In [44]:
df_2019.groupby(['MONTH']).count()

,YEAR,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
MONTH,,,,,,,,
1,12392,12383,12392,12392,12392,12392,12392,12392
2,12289,12281,12289,12289,12289,12289,12289,12289
3,12683,12675,12683,12683,12683,12683,12683,12683
4,12734,12726,12734,12734,12734,12734,12734,12734
5,12948,12940,12948,12948,12948,12948,12948,12948
6,12330,12320,12330,12330,12330,12330,12330,12330
7,12498,12490,12498,12498,12498,12498,12498,12498
8,12413,12404,12413,12413,12413,12413,12413,12413
9,12416,12408,12416,12416,12416,12416,12416,12416
10,13086,13076,13086,13086,13086,13086,13086,13086
11,12849,12839,12849,12849,12849,12849,12849,12849

In [45]:
df_2019['YEAR'].count()

138638

In [46]:
df_2019['SUPPLIER'].count()

138542

In [47]:
missing_supplier_rows = df_2019[df_2019['SUPPLIER'].isna()]
count_missing_supplier = missing_supplier_rows.shape[0]
print(count_missing_supplier)

96

In [48]:
missing_supplier_rows.groupby(['MONTH']).count()

,YEAR,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
MONTH,,,,,,,,
1,9,0,9,9,9,9,9,9
2,8,0,8,8,8,8,8,8
3,8,0,8,8,8,8,8,8
4,8,0,8,8,8,8,8,8
5,8,0,8,8,8,8,8,8
6,10,0,10,10,10,10,10,10
7,8,0,8,8,8,8,8,8
8,9,0,9,9,9,9,9,9
9,8,0,8,8,8,8,8,8
10,10,0,10,10,10,10,10,10
11,10,0,10,10,10,10,10,10

In [79]:
df_2019.replace(2019,2024, inplace=True)

/var/folders/yb/hsk33p551y1cfnnwh8n2gt7r0000gn/T/ipykernel_8044/2052292054.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019.replace(2019,2024, inplace=True)

In [81]:
df_2024 = df_2019

df_2024_missingsupplier = df_2024[df_2024['SUPPLIER'].isna()]

In [87]:
missing_counts = df_2024_missingsupplier.isnull().sum()
print(missing_counts)

YEAR                 0
MONTH                0
SUPPLIER            96
ITEM CODE            0
ITEM DESCRIPTION     0
ITEM TYPE            0
RETAIL SALES         0
RETAIL TRANSFERS     0
WAREHOUSE SALES      0
dtype: int64

In [49]:
missing_supplier_rows

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
157747,2019,1,NaN,107,JIGGER MEASURE SHOT GLASS,STR_SUPPLIES,9.55,4.92,0.0
157856,2019,1,NaN,113,BARTENDERS BLACK BOOK,STR_SUPPLIES,1.90,2.00,0.0
157908,2019,1,NaN,115,PLASTIC SHOT GLASS PACK,STR_SUPPLIES,5.67,5.00,0.0
157928,2019,1,NaN,116,WHISKEY TASTING KIT,STR_SUPPLIES,0.25,2.00,0.0
157933,2019,1,NaN,117,WHISKEY TASTING JOURNAL,STR_SUPPLIES,0.28,4.00,0.0
...,...,...,...,...,...,...,...,...,...
283719,2019,11,NaN,119,BRUMATE WINE TUMBLER,STR_SUPPLIES,21.00,5.00,0.0
283848,2019,11,NaN,1279,EMPTY WINE KEG - KEGS,DUNNAGE,0.00,0.00,-9.0
284478,2019,11,NaN,2,ICE,NON-ALCOHOL,793.00,0.00,0.0
296252,2019,11,NaN,BC,BEER CREDIT,REF,0.00,0.00,-123.0
296253,2019,11,NaN,WC,WINE CREDIT,REF,0.00,0.00,-275.0

In [50]:
df_2019_cleaned = df_2019.dropna(subset=['SUPPLIER'])

In [51]:
df_2019_cleaned.groupby(['ITEM TYPE']).count()

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
ITEM TYPE,,,,,,,,
BEER,19787,19787,19787,19787,19787,19787,19787,19787
DUNNAGE,33,33,33,33,33,33,33,33
KEGS,4822,4822,4822,4822,4822,4822,4822,4822
LIQUOR,28538,28538,28538,28538,28538,28538,28538,28538
NON-ALCOHOL,905,905,905,905,905,905,905,905
REF,37,37,37,37,37,37,37,37
STR_SUPPLIES,149,149,149,149,149,149,149,149
WINE,84271,84271,84271,84271,84271,84271,84271,84271

In [52]:
# Step 1: Extract December 2017 data
december_2017 = df[(df['YEAR'] == 2017) & (df['MONTH'] == 12)].copy()

# Step 2: Adjust the Year to 2019
december_2017['YEAR'] = 2019


# Step 3: Append December 2017 (as December 2019) to the original dataset
df_2019_cleaned = pd.concat([df_2019_cleaned, december_2017], ignore_index=True)

# Step 4: Verify
print("December 2019 data added using December 2017 data.")

December 2019 data added using December 2017 data.

In [53]:
df_2019_cleaned

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
0,2019,1,YOUNG WON TRADING INC,10346,KLOUD - 330/24 NR,BEER,3.75,11.0,12.0
1,2019,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.08,0.0,0.0
2,2019,1,INTERBALT PRODUCTS CORP,100012,PAPI P/GRIG - 750ML,WINE,0.00,0.0,1.0
3,2019,1,PWSWN INC,100023,CH PARADIS-TERRE DES ANGES ROSE,WINE,0.00,0.0,1.0
4,2019,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,0.0,2.0
...,...,...,...,...,...,...,...,...,...
153037,2019,12,ANHEUSER BUSCH INC,9997,HOEGAARDEN 4/6NR - 12OZ,BEER,113.37,95.0,223.0
153038,2019,12,COASTAL BREWING COMPANY LLC,99970,DOMINION OAK BARREL STOUT 4/6 NR - 12OZ,BEER,19.25,12.0,27.0
153039,2019,12,BOSTON BEER CORPORATION,99988,SAM ADAMS COLD SNAP 1/6 KG,KEGS,0.00,0.0,8.0
153040,2019,12,NaN,BC,BEER CREDIT,REF,0.00,0.0,-1644.0
153041,2019,12,NaN,WC,WINE CREDIT,REF,0.00,0.0,-156.0

In [54]:
df_2019_cleaned.groupby(['SUPPLIER']).count()

,YEAR,MONTH,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES
SUPPLIER,,,,,,,,
8 VINI INC,1,1,1,1,1,1,1,1
A HARDY USA LTD,1,1,1,1,1,1,1,1
A I G WINE & SPIRITS,24,24,24,24,24,24,24,24
A VINTNERS SELECTIONS,2612,2612,2612,2612,2612,2612,2612,2612
A&E INC,12,12,12,12,12,12,12,12
...,...,...,...,...,...,...,...,...
WINEBOW INC,8,8,8,8,8,8,8,8
YOUNG WON TRADING INC,958,958,958,958,958,958,958,958
YUENGLING BREWERY,233,233,233,233,233,233,233,233
Z WINE GALLERY IMPORTS LLC,15,15,15,15,15,15,15,15
ZURENA LLC,12,12,12,12,12,12,12,12

In [55]:
# Step 1: Check for inconsistencies
inconsistent_item_codes = df_2019_cleaned.groupby('ITEM CODE')['ITEM DESCRIPTION'].nunique()
inconsistent_item_codes = inconsistent_item_codes[inconsistent_item_codes > 1]

# Display inconsistent item codes
print(f"Number of inconsistent item codes: {len(inconsistent_item_codes)}")
if not inconsistent_item_codes.empty:
    print("Inconsistent item codes:\n", inconsistent_item_codes)

Number of inconsistent item codes: 0

In [56]:
df_2019_cleaned['WAREHOUSE SALES'].describe()

count    153042.000000
mean         25.239205
std         246.002026
min       -4365.000000
25%           0.000000
50%           1.000000
75%           5.000000
max       17810.870000
Name: WAREHOUSE SALES, dtype: float64

In [57]:
negative_values= df_2019_cleaned[df_2019_cleaned['RETAIL SALES']==0]
negative_values.count()

YEAR                62713
MONTH               62713
SUPPLIER            62710
ITEM CODE           62713
ITEM DESCRIPTION    62713
ITEM TYPE           62713
RETAIL SALES        62713
RETAIL TRANSFERS    62713
WAREHOUSE SALES     62713
dtype: int64

In [58]:
# Clean negative values by setting them to 0 (or consider filling with mean/median if needed)
df_2019_cleaned['RETAIL SALES'] = df_2019_cleaned['RETAIL SALES'].apply(lambda x: max(x, 0))
df_2019_cleaned['RETAIL TRANSFERS'] = df_2019_cleaned['RETAIL TRANSFERS'].apply(lambda x: max(x, 0))
df_2019_cleaned['WAREHOUSE SALES'] = df_2019_cleaned['WAREHOUSE SALES'].apply(lambda x: max(x, 0))

In [59]:
from scipy.stats import zscore
df_2019_cleaned['RETAIL SALES Z'] = zscore(df_2019_cleaned['RETAIL SALES'])
df_2019_cleaned['RETAIL TRANSFERS Z'] = zscore(df_2019_cleaned['RETAIL TRANSFERS'])
df_2019_cleaned['WAREHOUSE SALES Z'] = zscore(df_2019_cleaned['WAREHOUSE SALES'])

In [60]:
# Filter out rows with z-scores > 3 (outliers)
df_2019_cleaned = df_2019_cleaned[
    (df_2019_cleaned['RETAIL SALES Z'].abs() < 3) &
    (df_2019_cleaned['RETAIL TRANSFERS Z'].abs() < 3) &
    (df_2019_cleaned['WAREHOUSE SALES Z'].abs() < 3)
]

In [61]:
df_2019_cleaned.describe()

,YEAR,MONTH,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES,RETAIL SALES Z,RETAIL TRANSFERS Z,WAREHOUSE SALES Z
count,150592.0,150592.000000,150592.000000,150592.000000,150592.000000,150592.000000,150592.000000,150592.000000
mean,2019.0,6.586147,4.633893,4.572106,11.504086,-0.079177,-0.079999,-0.058206
std,0.0,3.483064,11.767583,11.873989,45.470444,0.374602,0.383894,0.186960
min,2019.0,1.000000,0.000000,0.000000,0.000000,-0.226689,-0.227818,-0.105507
25%,2019.0,4.000000,0.000000,0.000000,0.000000,-0.226689,-0.227818,-0.105507
50%,2019.0,7.000000,0.240000,0.000000,1.000000,-0.219049,-0.227818,-0.101395
75%,2019.0,10.000000,2.820000,2.000000,5.000000,-0.136919,-0.163157,-0.084948
max,2019.0,12.000000,101.310000,99.830000,755.000000,2.998355,2.999752,2.998807

In [62]:
df_2019_cleaned['TOTAL SALES'] = df_2019_cleaned['RETAIL SALES']+df_2019_cleaned['WAREHOUSE SALES']
df_2019_cleaned

/var/folders/yb/hsk33p551y1cfnnwh8n2gt7r0000gn/T/ipykernel_8044/351294233.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_2019_cleaned['TOTAL SALES'] = df_2019_cleaned['RETAIL SALES']+df_2019_cleaned['WAREHOUSE SALES']

,YEAR,MONTH,SUPPLIER,ITEM CODE,ITEM DESCRIPTION,ITEM TYPE,RETAIL SALES,RETAIL TRANSFERS,WAREHOUSE SALES,RETAIL SALES Z,RETAIL TRANSFERS Z,WAREHOUSE SALES Z,TOTAL SALES
0,2019,1,YOUNG WON TRADING INC,10346,KLOUD - 330/24 NR,BEER,3.75,11.0,12.0,-0.107314,0.127819,-0.056167,15.75
1,2019,1,REPUBLIC NATIONAL DISTRIBUTING CO,100009,BOOTLEG RED - 750ML,WINE,0.08,0.0,0.0,-0.224143,-0.227818,-0.105507,0.08
2,2019,1,INTERBALT PRODUCTS CORP,100012,PAPI P/GRIG - 750ML,WINE,0.00,0.0,1.0,-0.226689,-0.227818,-0.101395,1.00
3,2019,1,PWSWN INC,100023,CH PARADIS-TERRE DES ANGES ROSE,WINE,0.00,0.0,1.0,-0.226689,-0.227818,-0.101395,1.00
4,2019,1,PWSWN INC,100024,MOMENT DE PLAISIR - 750ML,WINE,0.00,0.0,2.0,-0.226689,-0.227818,-0.097283,2.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153036,2019,12,KATCEF BROTHERS INC,9989,VICTORY STORM KING 4/6NR - 12OZ,BEER,0.75,0.0,2.0,-0.202814,-0.227818,-0.097283,2.75
153038,2019,12,COASTAL BREWING COMPANY LLC,99970,DOMINION OAK BARREL STOUT 4/6 NR - 12OZ,BEER,19.25,12.0,27.0,0.386104,0.160150,0.005508,46.25
153039,2019,12,BOSTON BEER CORPORATION,99988,SAM ADAMS COLD SNAP 1/6 KG,KEGS,0.00,0.0,8.0,-0.226689,-0.227818,-0.072613,8.00
153040,2019,12,NaN,BC,BEER CREDIT,REF,0.00,0.0,0.0,-0.226689,-0.227818,-0.105507,0.00
153041,2019,12,NaN,WC,WINE CREDIT,REF,0.00,0.0,0.0,-0.226689,-0.227818,-0.105507,0.00

In [63]:
# Drop the columns after calculating TOTAL SALES
df_2019_cleaned.drop(columns=['Year'], inplace=True)

KeyError: "['Year'] not found in axis"

In [ ]:
df_2019_cleaned['Negative_Flag'].describe()

In [ ]:
df_2019_cleaned = df_2019_cleaned.drop(columns=['Negative_Flag'])

In [ ]:
df_2019_cleaned.dropna

In [ ]:
print(df_2019_cleaned.isna().sum())

In [ ]:
df_2019_cleaned = df_2019_cleaned.dropna(subset=['SUPPLIER'])

In [ ]:
df_2019_cleaned.info()

In [ ]:
print(df_2019_cleaned.duplicated().sum())

In [ ]:
df_2019_cleaned = df_2019_cleaned.drop_duplicates()

In [ ]:
import seaborn as sns
sns.boxplot(data=df_2019_cleaned[['RETAIL TRANSFERS', 'TOTAL SALES']])

In [ ]:
df_2019_cleaned

In [ ]:
print(df_2019_cleaned['ITEM TYPE'].unique())

In [ ]:
print(len(df_2019_cleaned['ITEM CODE'].unique()))

In [ ]:
itemtypecost_data = {
                    'Item Type': ['BEER','WINE','LIQUOR','STR_SUPPLIES','KEGS','REF','NON-ALCOHOL','DUNNAGE'],
                    'Average Unit Cost': [8, 15, 20, 5, 50, 25, 3, 10]
}
itemtype_averagecost = pd.DataFrame(itemtypecost_data)

In [ ]:
itemtype_averagecost.info()

In [ ]:
.

In [ ]:
df=df_2019_cleaned.copy()
df['Unit Cost'] = None

unique_items = df[['ITEM CODE', 'ITEM TYPE']].drop_duplicates()

unique_items['Average Unit Cost'] = unique_items['ITEM TYPE'].map(average_unit_costs)

# Randomize unit cost with ±20% variation
np.random.seed(42)  # Ensure reproducibility
variation = 0.35  # 20% variation
unique_items['Unit Cost'] = unique_items['Average Unit Cost'] * np.random.uniform(1 - variation, 1 + variation, len(unique_items))

unit_cost = unique_items
unit_cost

In [ ]:
# Scale the Total Sales column by multiplying it by 1000
df_2019_cleaned['TOTAL SALES'] = df_2019_cleaned['TOTAL SALES'] * 1000

# Display the updated DataFrame to confirm changes
print(df_2019_cleaned[['TOTAL SALES']].describe())

In [ ]:
df = df_2019_cleaned.copy()
df_2019_cleaned

In [ ]:
total_sales_df = pd.DataFrame(df['TOTAL SALES'].groupby(df['ITEM CODE']).sum())
total_sales_df

In [ ]:
item_info = pd.merge(unit_cost, total_sales_df, on='ITEM CODE')
item_info

In [ ]:
item_info['Units Sold'] = item_info['TOTAL SALES']/item_info['Unit Cost']
item_info

In [ ]:
# Iterate over each row to adjust the unit_cost
adjusted_unit_cost = []

for index, row in item_info.iterrows():
    total_sales = int(row['TOTAL SALES'])
    unit_cost = row['Unit Cost']
    
    if total_sales <= 0:
        adjusted_unit_cost.append(unit_cost)  # Handle edge case where total_sales is 0 or negative
        continue
    
    # Find all factors of total_sales
    factors = [i for i in range(1, total_sales + 1) if total_sales % i == 0]
    
    # If no factors are found (shouldn't happen for positive total_sales), skip this row
    if not factors:
        adjusted_unit_cost.append(unit_cost)
        continue
    
    # Find the factor closest to unit_cost
    closest_factor = min(factors, key=lambda x: abs(x - unit_cost))
    
    adjusted_unit_cost.append(closest_factor)
    
adjusted_unit_cost

In [ ]:
item_info['adjusted_unit_cost'] =adjusted_unit_cost

In [ ]:
item_info['Units Sold'] = item_info['TOTAL SALES'] / item_info['Unit Cost']

In [ ]:
item_info

In [ ]:
df_2019_cleaned

In [ ]:
inventory_info = df_2019_cleaned[['ITEM CODE', 'ITEM TYPE', 'MONTH']].copy()
inventory_info['BEGINNING INVENTORY'] = np.nan
inventory_info['ENDING INVENTORY'] = np.nan
inventory_info

In [ ]:
# Step 1: Calculate UNITS SOLD
df_2019_cleaned = df_2019_cleaned.merge(item_info[['ITEM CODE', 'Unit Cost']], on='ITEM CODE', how='left')
df_2019_cleaned['UNITS SOLD'] = (df_2019_cleaned['TOTAL SALES'] / df_2019_cleaned['Unit Cost']).round().astype(int)

In [ ]:
# Step 2: Create inventory_info DataFrame
inventory_info = df_2019_cleaned[['ITEM CODE', 'ITEM TYPE', 'MONTH']].drop_duplicates().reset_index(drop=True)

# Step 3: Estimate Beginning and Ending Inventory
# Initialize random ending inventory (at least equal to UNITS SOLD)
inventory_info = inventory_info.merge(df_2019_cleaned[['ITEM CODE', 'MONTH', 'UNITS SOLD']], on=['ITEM CODE', 'MONTH'], how='left')

In [ ]:
# Ending inventory: Randomly set as UNITS SOLD * (1.1 to 1.5) to simulate stock buffer
inventory_info['ENDING INVENTORY'] = (inventory_info['UNITS SOLD'] * np.random.uniform(1.0, 1.5, size=len(inventory_info))).round().astype(int)
inventory_info

In [ ]:

# Beginning inventory: Slightly higher than the ending inventory for the previous month
inventory_info['BEGINNING INVENTORY'] = np.nan
for item_code in inventory_info['ITEM CODE'].unique():
    item_data = inventory_info[inventory_info['ITEM CODE'] == item_code]
    for i in item_data.index:
        if item_data.loc[i, 'MONTH'] == 1:  # For January, randomly generate beginning inventory
            inventory_info.loc[i, 'BEGINNING INVENTORY'] = (item_data.loc[i, 'ENDING INVENTORY'] * np.random.uniform(1.2, 1.5)).round()
        else:  # For other months, use the ending inventory of the previous month
            prev_month = i - 1
            inventory_info.loc[i, 'BEGINNING INVENTORY'] = inventory_info.loc[prev_month, 'ENDING INVENTORY']

inventory_info

In [ ]:
# Step 1: Create inventory_info DataFrame with 12 months per ITEM CODE
months = list(range(1, 13))  # 1 to 12
inventory_info = (
    df_2019_cleaned[['ITEM CODE', 'ITEM TYPE']]
    .drop_duplicates()
    .assign(key=1)
    .merge(pd.DataFrame({'MONTH': months, 'key': 1}), on='key')
    .drop('key', axis=1)
)

# Step 2: Merge TOTAL SALES into inventory_info
inventory_info = inventory_info.merge(
    df_2019_cleaned[['ITEM CODE', 'MONTH', 'TOTAL SALES']],
    on=['ITEM CODE', 'MONTH'],
    how='left'
)

inventory_info.head(50)

In [ ]:
# Step 3: Generate realistic inventory values
def generate_inventory(row):
    total_sales = row['TOTAL SALES']
    
    # Determine stockout
    stockout = np.random.choice([True, False], p=[0.3, 0.7])  # 30% chance of stockout
    if stockout:
        beginning_inventory = total_sales
        ending_inventory = 0
    else:
        beginning_inventory = total_sales * np.random.uniform(1.1, 1.5)  # 10-50% buffer
        ending_inventory = beginning_inventory * np.random.uniform(0.1, 0.5)  # Leftover inventory

    return pd.Series({
        'BEGINNING INVENTORY': round(beginning_inventory, 2),
        'ENDING INVENTORY': round(ending_inventory, 2),
        'STOCKOUT FLAG': stockout
    })

# Apply function to each row
inventory_info[['BEGINNING INVENTORY', 'ENDING INVENTORY', 'STOCKOUT FLAG']] = inventory_info.apply(generate_inventory, axis=1)

# Fill any missing TOTAL SALES with 0 (if there are months with no sales data)
inventory_info['TOTAL SALES'] = inventory_info['TOTAL SALES'].fillna(0)

# Final cleanup
inventory_info = inventory_info[['ITEM CODE', 'ITEM TYPE', 'MONTH', 'TOTAL SALES', 'BEGINNING INVENTORY', 'ENDING INVENTORY', 'STOCKOUT FLAG']]

# Check the resulting DataFrame

In [ ]:
# Ensure inventory_info is sorted by ITEM CODE and MONTH
inventory_info = inventory_info.sort_values(by=['ITEM CODE', 'MONTH']).reset_index(drop=True)

# Iterate through the DataFrame to validate and adjust BEGINNING INVENTORY
for idx in range(1, len(inventory_info)):
    # Get current and previous row
    current_row = inventory_info.iloc[idx]
    previous_row = inventory_info.iloc[idx - 1]
    
    # Ensure we are comparing the same ITEM CODE
    if current_row['ITEM CODE'] == previous_row['ITEM CODE']:
        # Check if BEGINNING INVENTORY is less than the ENDING INVENTORY of the previous month
        if current_row['BEGINNING INVENTORY'] < previous_row['ENDING INVENTORY']:
            # Adjust BEGINNING INVENTORY to match ENDING INVENTORY or simulate restocking
            inventory_info.at[idx, 'BEGINNING INVENTORY'] = previous_row['ENDING INVENTORY']
        
        # Special case: No sales in the current month
        if current_row['TOTAL SALES'] == 0:
            inventory_info.at[idx, 'BEGINNING INVENTORY'] = max(
                inventory_info.at[idx, 'BEGINNING INVENTORY'], previous_row['ENDING INVENTORY']
            )

# Recalculate AVERAGE INVENTORY for all rows
inventory_info['AVERAGE INVENTORY'] = (
    inventory_info['BEGINNING INVENTORY'] + inventory_info['ENDING INVENTORY']
) / 2

# Validate and display the updated DataFrame
inventory_info.head(60)

In [ ]:
# Ensure inventory_info is sorted by ITEM CODE and MONTH
inventory_info = inventory_info.sort_values(by=['ITEM CODE', 'MONTH']).reset_index(drop=True)

# Iterate through the DataFrame to validate and adjust BEGINNING INVENTORY
for idx in range(1, len(inventory_info)):
    # Get current and previous row
    current_row = inventory_info.iloc[idx]
    previous_row = inventory_info.iloc[idx - 1]
    
    # Ensure we are comparing the same ITEM CODE
    if current_row['ITEM CODE'] == previous_row['ITEM CODE']:
        # If no sales in the current month, BEGINNING INVENTORY should match or exceed the previous month's ENDING INVENTORY
        if current_row['TOTAL SALES'] == 0:
            if pd.isna(current_row['BEGINNING INVENTORY']) or current_row['BEGINNING INVENTORY'] < previous_row['ENDING INVENTORY']:
                inventory_info.at[idx, 'BEGINNING INVENTORY'] = previous_row['ENDING INVENTORY']
        
        # General case: BEGINNING INVENTORY should not be less than the previous month's ENDING INVENTORY
        elif current_row['BEGINNING INVENTORY'] < previous_row['ENDING INVENTORY']:
            inventory_info.at[idx, 'BEGINNING INVENTORY'] = previous_row['ENDING INVENTORY']

    # If BEGINNING INVENTORY or ENDING INVENTORY is NaN, set them to 0 to prevent calculation issues
    if pd.isna(inventory_info.at[idx, 'BEGINNING INVENTORY']):
        inventory_info.at[idx, 'BEGINNING INVENTORY'] = 0
    if pd.isna(inventory_info.at[idx, 'ENDING INVENTORY']):
        inventory_info.at[idx, 'ENDING INVENTORY'] = 0

# Recalculate AVERAGE INVENTORY for all rows
inventory_info['AVERAGE INVENTORY'] = (
    inventory_info['BEGINNING INVENTORY'] + inventory_info['ENDING INVENTORY']
) / 2

# Validate and display the updated DataFrame
inventory_info.head(60)

In [ ]:
inventory_info['ENDING INVENTORY'] = inventory_info['BEGINNING INVENTORY'] - inventory_info['TOTAL SALES']

In [ ]:
# Ensure inventory_info is sorted by ITEM CODE and MONTH
inventory_info = inventory_info.sort_values(by=['ITEM CODE', 'MONTH']).reset_index(drop=True)

# Iterate through each row and update BEGINNING and ENDING INVENTORY
for idx in range(1, len(inventory_info)):
    # Get current and previous row
    current_row = inventory_info.iloc[idx]
    previous_row = inventory_info.iloc[idx - 1]

    # Ensure we are comparing the same ITEM CODE
    if current_row['ITEM CODE'] == previous_row['ITEM CODE']:
        # Case 1: If TOTAL SALES == 0 and no restocks
        if current_row['TOTAL SALES'] == 0:
            # BEGINNING INVENTORY should match the ENDING INVENTORY of the previous month
            inventory_info.at[idx, 'BEGINNING INVENTORY'] = previous_row['ENDING INVENTORY']
            
            # ENDING INVENTORY should match BEGINNING INVENTORY
            inventory_info.at[idx, 'ENDING INVENTORY'] = inventory_info.at[idx, 'BEGINNING INVENTORY']
        
        # Case 2: General case when TOTAL SALES > 0 or restocks occur
        else:
            # BEGINNING INVENTORY should be at least the previous month's ENDING INVENTORY
            if current_row['BEGINNING INVENTORY'] < previous_row['ENDING INVENTORY']:
                inventory_info.at[idx, 'BEGINNING INVENTORY'] = previous_row['ENDING INVENTORY']

    # Fill missing BEGINNING and ENDING INVENTORY with 0 as fallback
    if pd.isna(inventory_info.at[idx, 'BEGINNING INVENTORY']):
        inventory_info.at[idx, 'BEGINNING INVENTORY'] = 0
    if pd.isna(inventory_info.at[idx, 'ENDING INVENTORY']):
        inventory_info.at[idx, 'ENDING INVENTORY'] = 0

# Recalculate AVERAGE INVENTORY
inventory_info['AVERAGE INVENTORY'] = (
    inventory_info['BEGINNING INVENTORY'] + inventory_info['ENDING INVENTORY']
) / 2

# Validate and display the updated DataFrame
inventory_info.head(60)

In [ ]:
inventory_info.loc[inventory_info['ENDING INVENTORY'] == 0, 'STOCKOUT FLAG'] = True
inventory_info.loc[inventory_info['ENDING INVENTORY'] != 0, 'STOCKOUT FLAG'] = False

In [ ]:
stockout_count = inventory_info[inventory_info['STOCKOUT FLAG'] == True].groupby('MONTH').size()
stockout_count

In [ ]:
main_df = df_2019_cleaned.copy()

In [ ]:
price_info = item_info.copy()

In [ ]:
inventory_info

In [ ]:
main_df

In [ ]:
main_df.columns = ['Year', 'Month', 'Supplier', 'SKU', 'Description', 'Category', 'Sales', 'Unit Cost', 'Units Sold']

In [ ]:

# Assuming main_df is your DataFrame
# Group by 'MONTH' and 'ITEM CODE', then sum the 'TOTAL SALES'
main_df_aggregated = main_df.groupby(['Month', 'SKU']).agg({
    'Sales': 'sum',  # Sum up sales
    # Add any other columns you want to aggregate or keep
    'Category': 'first',  # Keep the first non-null value (or adjust as needed)
    'Supplier': 'first',
    'Description':'first',
}).reset_index()

# Rearrange columns if needed
main_df_aggregated = main_df_aggregated[['Month', 'SKU','Description', 'Category','Supplier', 'Sales']]

# Display the result
main_df_aggregated

In [ ]:
main_df = main_df_aggregated.copy()

In [ ]:
main= main_df.copy()

main.to_csv('main.csv', index=False)

In [ ]:
price_info =item_info.copy()
price_info

In [ ]:
price_info

price_info.to_csv('price_info.csv', index=False)

In [ ]:
inventory_info

In [ ]:
inventory_info.columns=['SKU','Category','Month','Monthly Sales','Beginning Inventory','Ending Inventory','Stockout Flag','Average Monthly Inventory']
inventory_info

In [ ]:
# Check for duplicates based on 'ITEM CODE'
sku_duplicates = price_info[price_info.duplicated(subset=['SKU'])]

# Display the rows with duplicate ITEM CODE
print(sku_duplicates)

# Count duplicates by SKU
duplicate_counts = price_info['SKU'].value_counts()
duplicates_summary = duplicate_counts[duplicate_counts > 1]
print(duplicates_summary)

In [ ]:
price_info = price_info.drop_duplicates(subset=['SKU'], keep = 'first')
price_info

In [ ]:
df_2019_cleaned

324 suppliers
8 item type

missing values: empty values in supplier

missing month 12

In [ ]:
# Adding a flag column to indicate rows with negative values
df['Negative_Flag'] = ((df['RETAIL SALES'] < 0) | (df['RETAIL TRANSFERS'] < 0) | (df['WAREHOUSE SALES'] < 0)).astype(int)

In [ ]:
# Check frequency of negative values by item or supplier
df_negative = df[(df['RETAIL SALES'] < 0) | (df['RETAIL TRANSFERS'] < 0) | (df['WAREHOUSE SALES'] < 0)]
negative_by_item = df_negative['ITEM DESCRIPTION'].value_counts()
negative_by_supplier = df_negative['SUPPLIER'].value_counts()

In [ ]:
import matplotlib.pyplot as plt

# Create a time series plot of negative values
df_negative['MONTH_YEAR'] = pd.to_datetime(df_negative[['YEAR', 'MONTH']].assign(DAY=1))
df_negative.groupby('MONTH_YEAR').size().plot(kind='line', title="Negative Value Frequency Over Time")
plt.show()

In [ ]:
df_negative[['RETAIL SALES', 'RETAIL TRANSFERS', 'WAREHOUSE SALES']].corr()

In [ ]:
df1 =df
df1

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# 1. Summary Statistics (already done, but here for reference)
print(df1['RETAIL SALES'].describe())

# 2. Distribution Plot
plt.figure(figsize=(12, 6))
sns.histplot(df1['RETAIL SALES'], bins=50, kde=True)
plt.title('Distribution of Retail Sales')
plt.xlabel('Retail Sales')
plt.ylabel('Frequency')
plt.show()

# Boxplot for outliers
plt.figure(figsize=(10, 4))
sns.boxplot(x=df1['RETAIL SALES'])
plt.title('Boxplot of Retail Sales')
plt.show()

# 3. Count of Negative and Zero Values
negative_values = (df1['RETAIL SALES'] < 0).sum()
zero_values = (df1['RETAIL SALES'] == 0).sum()
print(f'Number of negative values in Retail Sales: {negative_values}')
print(f'Number of zero values in Retail Sales: {zero_values}')

# 4. Time-Based Aggregation (assuming you have a 'YEAR' and 'MONTH' column)
# Aggregating Retail Sales by year and month to see trends
df1['Year-Month'] = df1['YEAR'].astype(str) + '-' + df1['MONTH'].astype(str)
monthly_sales = df1.groupby('Year-Month')['RETAIL SALES'].sum()

plt.figure(figsize=(14, 6))
monthly_sales.plot()
plt.title('Monthly Total Retail Sales Over Time')
plt.xlabel('Year-Month')
plt.ylabel('Total Retail Sales')
plt.xticks(rotation=45)
plt.show()

# 5. Top and Bottom Percentiles
top_5_percentile = df1['RETAIL SALES'].quantile(0.95)
bottom_5_percentile = df1['RETAIL SALES'].quantile(0.05)

print(f'Top 5% Retail Sales threshold: {top_5_percentile}')
print(f'Bottom 5% Retail Sales threshold: {bottom_5_percentile}')

# Filter to view top and bottom 5% of values
top_5_df = df1[df1['RETAIL SALES'] >= top_5_percentile]
bottom_5_df = df1[df1['RETAIL SALES'] <= bottom_5_percentile]

print("Top 5% Retail Sales data sample:")
print(top_5_df.head())
print("Bottom 5% Retail Sales data sample:")
print(bottom_5_df.head())

In [ ]:
df